version: '2'

services:
  app:
    build: ./app
    environment:
      - CONTAINER_NAME=auto
      - REDIS_HOST=redis
    depends_on:
      - redis
    restart: unless-stopped
    networks:
      - backend

  redis:
    image: redis:7-alpine
    container_name: mood-redis
    restart: unless-stopped
    networks:
      - backend

  nginx:
    image: nginx:alpine
    container_name: mood-nginx
    ports:
      - "8080:80"
      - "8081:8080" 
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
    restart: unless-stopped
    networks:
      - frontend
      - backend

  nginx-exporter:
    image: nginx/nginx-prometheus-exporter
    container_name: nginx-metrics-exporter 
    command:
      - -nginx.scrape-uri=http://nginx:8080/nginx_status
    ports:
      - "9113:9113"
    networks:
      - backend 
    depends_on:
      - nginx

  redis-exporter:
    image: oliver006/redis_exporter
    container_name: redis-metrics-exporter
    environment:
      REDIS_ADDR: redis:6379
    ports:
      - "9121:9121"
    networks:
      - backend
    depends_on:
      - redis

  prometheus:
    image: prom/prometheus
    container_name: prometheus-server
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    networks:
      - backend
    depends_on:
      - app
      - nginx-exporter
      - redis-exporter

  grafana:
    image: grafana/grafana
    container_name: grafana-dashboard 
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    networks:
      - backend 
    depends_on:
      - prometheus
    volumes:
      - grafana_data:/var/lib/grafana

networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge

volumes:
  prometheus_data:
  grafana_data:
