apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

components:
  - ../rollout-only

patches:
  - target:
      kind: Ingress
      name: mood-ingress
    path: patches/ingress-host.yaml

  - target:
      kind: Rollout
      name: app
    path: patches/app-replicas.yaml
  - target:
      kind: Deployment
      name: prometheus
    path: patches/prometheus-replicas.yaml

  - target:
      kind: Deployment
      name: grafana
    path: patches/grafana-replicas.yaml
  - target:
      group: argoproj.io
      version: v1alpha1
      kind: Rollout
      name: app
    path: patches/rollout-resources.json
