apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    rule_files:
      - /etc/prometheus/rules/*.yml

    scrape_configs:
      - job_name: "app"
        metrics_path: /metrics
        static_configs:
          - targets: ["app:80"]

      - job_name: "redis-exporter"
        static_configs:
          - targets: ["redis-exporter:9121"]

      - job_name: "ingress-nginx"
        metrics_path: /metrics
        static_configs:
          - targets: ["ingress-nginx-controller.ingress-nginx.svc.cluster.local:10254"]
